<h1>Update Landmark: <%= @landmark.name %></h1>

<form method="POST" action="/landmarks/<%= @landmark.id %>">
  <input type="hidden" name="_method" value="PATCH">

  <label>Landmark Name</label>

  <input type="text" name="landmark[name]" id="name" >

  <label>Landmark Year</label>

  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>".to_s>

  <input type="submit" value="Edit Landmark">

</form>