<h1>Create Landmark</h1>

<form method="POST" action="/landmarks">

<label>Landmark Name</label>

  <input type="text" name="landmark[name]" id="new_landmark"> <br>

<labe>Landmark Year</label>

  <input type="text" name="landmark_year_completed">

  <!-- <h2><label>Create New Landmarks</label></h2><br>

  <label>Landmark Name</label>
  <input type="text" name="landmark[name]" id="new_landmark"><br>

  <label>Year</label>
  <input type="text" name="landmark[year_completed]"><br> -->

  <input type="submit" value="Create New Landmark">

</form>
